<form #userform="ngForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>First Name</label>
      <input type="text" name="firstname" ngModel #firstname="ngModel" class="form-control" pattern="[a-zA-Z ]*"
        required>
      <div class="validation-error" *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">This Field is
        Required</div>
    </div>

    <div class="form-group col-md-2">
      <label>Middle Nmae</label>
      <input name="middlename" ngModel #middlename="ngModel" class="form-control" required>
      <div class="validation-error" *ngIf="middlename.invalid && (middlename.touched || middlename.dirty)">This Field is
        Required</div>
    </div>
    <div class="form-group col-md-2">
      <label>Last Nmae</label>
      <input name="lastname" ngModel #lastname="ngModel" class="form-control" required>
      <div class="validation-error" *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">This Field is
        Required</div>
    </div>

    <div class="form-group col-md-2">
      <label>Email</label>
      <input name="email" ngModel #email="ngModel" class="form-control" required>
      <div class="validation-error" *ngIf="email.invalid && (email.touched || email.dirty)">This Field is Required</div>
    </div>
    <div class="form-group col-md-3">
      <label>PhoneNumber</label>
      <input type="text" name="phno" ngModel #phno="ngModel" class="form-control" required>
      <div class="validation-error" *ngIf="phno.invalid && (phno.touched || phno.dirty)">This Field is Required</div>
    </div>
    <br>


    <div class="form-group col-md-2"><br>
      <label>Gender : </label>
      <input type="radio" ngModel #gender="ngModel" name="gender" value="male" >Male
      <input type="radio" ngModel #gender="ngModel" name="gender" value="female">Female
    </div>

    <div class="form-group col-md-2">
      <label>Address </label>
      <textarea ngModel #gender="ngModel" name="address" class="form-control"></textarea>
    </div>
    <div class="form-group col-md-2"><br>
      <label>DOB : </label>
      <input type="date" ngModel #date="ngModel" name="date">
    </div>
    
    <!-- <div class="form-group col-md-2"><br>
      <label >Education </label>
      <select class="form-control"  [(ngModel)]="userformmodel.education" name="education"
      #education="ngModel">
      <option  *ngFor="let edu of education" [value]="edu">{{edu}}</option>
      <option name="B.Tech" ngValue #middlename="ngValue" >B.Tech</option>
      <option name="B.C.A"  ngValue #middlename="ngValue">B.C.A</option>
      <option name="M.E" ngValue #middlename="ngValue" >M.E</option>
      <option name="M.Tech"  ngValue #middlename="ngValue">M.Tech</option>
     </select>
      </div> -->


      <!-- div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power"
              required
              [(ngModel)]="model.power" name="power"
              #power="ngModel">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select> -->



      <div class="form-group col-md-2">
        <label >Hobbies</label><br>
        <input type="checkbox" name="cricket" ngModel #cricket="ngModel" value="cricket"> Cricket <br>
      <input type="checkbox" name="watchtv" ngModel #watchtv="ngModel" value="watchtv"> Watch Tv <br>
      <input type="checkbox" name="playgame" ngModel #playgame="ngModel" value="playgame"> Play Game <br> 
    </div>
     <div class="form-group">
       <button type="button" class="btn btn-primary" (click)="onSubmit(userform)"  [disabled]="userform.invalid" > Submit </button>
            </div>   
           
    </div>
</form>
 

    <table id="userform" class="table">
        <thead class="thead-dark">
          <tr>
             
            <td>firstname</td>
            <td>middlename</td>
            <td>lastname</td>
            <td>email</td>
            <td>phno</td>
            <td>gender</td>
            <td>address</td>
            <td>DOB</td>
            <td>hobbies</td>
              </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of userlist ">
            
            <td>{{ item.firstname }}</td>
            <td>{{item.middlename }}</td>
            <td>{{ item.lastname }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phno }}</td>
              </tr>
        </tbody>
        <pre>{{userform.value | json}}</pre>


      </table>
      <p>{{userform.value.firstname}}</p>
   
   

